.top{
    display : flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-size: xxx-large;
    color: rgb(117, 72, 20);
    background-color: rgb(219, 204, 186);
    border-radius: 20px;
    margin: 10px;
    border-style: dashed;
    border-width: 5px;
}

.butt {
    display : flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Indie Flower', cursive;
    font-size: xxx-large;
    color: rgb(117, 72, 20);
    background-color: rgb(219, 204, 186);
    border-radius: 20px;
    margin: 10px;
    border-width: 5px;
}